@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="News" asp-controller="Symbols" asp-route-symbol="aapl" asp-route-slug="apple-inc">Go to Apple News</a>
<a asp-area="Identity" asp-page="/Account/Login">Go to Login</a>